<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Intelligence Agency Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_lux.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/IntelligenceAgencyManagementSystem.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Intelligence Agency MS</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Index">Департаменти</a>
                    </li>
                    
                    @if (User.IsInRole("hr") || User.IsInRole("chairman") || User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="HumanResources" asp-action="Index">Кадри</a>
                        </li>
                    }
                    
                    @if (User.IsInRole("agent") || User.IsInRole("commander") || User.IsInRole("chairman") || User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="OperationsManagement" asp-action="Index">Операції</a>
                        </li>
                    }
                    
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserRoles" asp-action="UserList">Адміністрування</a>
                        </li>
                    }
                </ul>
            </div>
            <div style="display: flex; align-items: center; column-gap: 10px">
                @if (User.Identity.IsAuthenticated)
                {
                    
                    <form asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-secondary p-0" id="a-leave-account" data-replace="Вийти"><span>@User.Identity.Name</span></button>
                    </form>
                    <Image height="40em" background-color="red" src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png"></Image>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login"><button id="markiz" type="button" class="btn btn-primary">Вхід</button></a>
                    <a asp-controller="Account" asp-action="Register"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Реєстрація</button></a>
                }
            </div>   
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<style>
    #a-leave-account {
      overflow: hidden;
      position: relative;
      display: inline-block;
    }
    
    #a-leave-account::before,
    #a-leave-account::after {
     content: '';
      position: absolute;
      width: 100%;
      left: 0;
    }
    #a-leave-account::after {
      content: attr(data-replace);
      text-align: end;
      height: 100%;
      top: 0;
      transform-origin: 100% 50%;
      transform: translate3d(200%, 0, 0);
      transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
      color: #f44336;
    }
    
    #a-leave-account:hover::before {
      transform-origin: 0% 50%;
      transform: scaleX(1);
    }
    #a-leave-account:hover::after {
      transform: translate3d(0, 0, 0);
    }
    
    #a-leave-account span {
      display: inline-block;
      transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    }
    
    #a-leave-account:hover span {
      transform: translate3d(200%, 0, 0);
    }
    
    #markiz{
        background-color: black;
    }
    
</style>



<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Intelligence Agency Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>