@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Управління кадрами</h2>

<ul>
    <li><a asp-controller="WorkingInDepartment" asp-action="Index">Трудова діяльність</a></li>
    <li><a asp-controller="Workers" asp-action="Index">Співробітники</a></li>
    <li><a asp-controller="Roles" asp-action="Index">Посади</a></li>
    <li><a asp-controller="CoverRoles" asp-action="Index">Персонажі</a></li>
</ul>
