@model IEnumerable<IntelligenceAgencyManagementSystem.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Наші департаменти</h1>

<br/>

<div style="text-align: center">
    
    @foreach (var item in Model) {
        
        <div style="border-left: #dee2e6 4px solid;">
            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                                                                
            @if (item.Description != null && item.Description.Trim().Length != 0)
            {
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
            }
            else
            {
                <p>Опис поки відсутній...</p>
            }
                                                              
            <p><a asp-action="Details" asp-route-id="@item.Id">Більше</a></p>
        </div>    
        
        <br/>
    }
    
</div>

<p>
    <a asp-action="Create">Створити новий</a>
</p>
