@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Архів</h2>

<ul>
    <li><a asp-controller="Workers" asp-action="Index">Співробітники</a></li>
    <li><a asp-controller="CoverRoles" asp-action="Index">Персонажі</a></li>
</ul>
